body{
	font-family: arial,times,sans-serif;
	
	
}
header{
	background-color:#F7F9F4;
	color:black;
	padding:10;
	margin:10;
	overflow:hidden;
	text-align:center;
	
}

header img{
	    margin-top: 15px;
    float: left;
    margin-left: 5%;
}
header h1{
	padding:0;
	margin:0;
	font-size:2.2em;
	text-align:center;
    strong 
    font-weight: bold;


}
header h2{
	padding:0;
	margin:0;
	font-size:0.8em;
	text-align:center;
}
.navbar ul1{
	list-style-type:none;
	background-color:#D0D3D4;
	margin:0;
	overflow:hidden;
	padding:0;
}
LI{
	list-style-type:none;
	background-color:#D0D3D4;
	margin:0;
	overflow:hidden;
	padding:0;
}
.navbar li{
	float:left;
	overflow:hidden;
}
.navbar li a{
	text-decoration:none;
	padding:10px 25px;
	display:block;
	color:black;
	
}
li a{
	text-decoration:none;
	padding:10px 25px;

	color:black;
	background-color:#b2b2b2;
	border: 0.5px inset black;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.navbar li a:hover{
	background-color:#c2d4dd;
}
li a:hover{
	background-color:#c2d4dd;
}
.navbar li a.active{
	background-color:#c2d4dd;
}
li a.active{
	background-color:#c2d4dd;
}
.content {
	padding:10px 10px 10px 10px;
		
	background-image:url("back imge.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
.content h2{
	margin:0;
	font-size:3.5em;
	color:#28B463;
	text-align:center;
	display: block;
	border: 1px inset black;
	color:#000080;
	
	width:35%;
	margin-left:auto;
	margin-right:auto;
	padding:2px;
}

.content img{
	float:right;
	margin:5px;
	box-shadow:2px 3px 5px 1px;
			
}
.footer{
	padding:3px;
	color: #2F4F4F;
	background-color: #E5E8E8;
	text-align:left;
	


}

element.style {
    color: black;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .panel-primary > .panel-heading, .breadcrumb, blockquote, blockquote.pull-right, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .form-control:focus, .nav .open > a, .nav .open > a:hover, a.thumbnail:hover, .nav-tabs.nav-stacked > li > a, .owl-carousel .item a div span, a.thumbnail:focus, .post-wrapper-top h2, .nav .open > a:focus, #volume, .title:before, .post-meta a:hover, .title:after {
    border-color: #ae4a54;
}
blockquote {
    padding: 1.5px 23px;
    margin: 0 0 23px;
    border-left: 5px solid #63b76c;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 125px;
    margin-inline-end: 40px;
	    color: #B2B1B1;
		    font-style: italic;


}
blockquote p {
    font-size: 18.5px;
    font-weight: 800;
    line-height: 1.25;
    font-style: italic;
	    color: #696E74;

}
p {
    padding: 0;
    margin-bottom: 12px;
    font-family: "Open Sans" !important;
    font-weight: 300;
    font-size: 48px;
    line-height: 20px;
    color: black;
    margin-top: 0px;
	}
p {
    margin: 0 0 11.5px;
	
}

element.style {
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .panel-primary > .panel-heading, .breadcrumb, blockquote, blockquote.pull-right, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .form-control:focus, .nav .open > a, .nav .open > a:hover, a.thumbnail:hover, .nav-tabs.nav-stacked > li > a, .owl-carousel .item a div span, a.thumbnail:focus, .post-wrapper-top h2, .nav .open > a:focus, #volume, .title:before, .post-meta a:hover, .title:after {
    border-color: #ae4a54;
}























